<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <!--仓储接口-->
    <assembly name="Store.Domain" />
    <namespace name="Store.Domain.Repositories" />
    <alias alias="IRepositoryContext" type="IRepositoryContext" />
    <alias alias="IProductRepository" type="IProductRepository" />

    <!--仓储实现-->
    <assembly name="Store.Repositories" />
    <namespace name="Store.Repositories.EntityFramework" />
    <alias alias="EntityFrameworkRepositoryContext" type="EntityFrameworkRepositoryContext" />
    <alias alias="ProductRepository" type="ProductRepository" />

    <!--服务接口-->
    <assembly name="Store.ServiceContracts" />
    <namespace name="Store.ServiceContracts" />
    <alias alias="IProductService" type="IProductService" />

    <!--服务实现-->
    <assembly name="Store.Application" />
    <namespace name="Store.Application.ServiceImplementations" />
    <alias alias="ProductServiceImp" type="ProductServiceImp" />

    <container>
      <!--仓储接口的注册-->
      <register type="Store.Domain.Repositories.IRepositoryContext, Store.Domain" mapTo="Store.Repositories.EntityFramework.EntityFrameworkRepositoryContext, Store.Repositories"></register>
      <register type="Store.Domain.Repositories.IProductRepository, Store.Domain" mapTo="Store.Repositories.EntityFramework.ProductRepository, Store.Repositories"></register>

      <!--应用服务的注册-->
      <register type="Store.ServiceContracts.IProductService, Store.ServiceContracts" mapTo="Store.Application.ServiceImplementations.ProductServiceImp, Store.Application"></register>
    </container>
  </unity>
  
</configuration>