<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <!--接口-->
    <assembly name="Higer.RdChain.Biz.Interface" />
    <namespace name="Higer.RdChain.Biz.Interface" />
    <alias alias="IHello" type="IHello" />

    <!--实现-->
    <assembly name="Higer.RdChain.Biz" />
    <namespace name="Higer.RdChain.Biz" />
    <alias alias="Hello" type="Hello" />
    <container>

      <!--接口到实现的映射-->
      <register type="IHello" mapTo="Hello"></register>

    </container>
  </unity>
</configuration>
